In [45]:
lst = []
print(type(lst))

<class 'list'>

In [46]:
names = ["Tanmay","Sanchot","Rohit"]
print(names)

['Tanmay', 'Sanchot', 'Rohit']

In [47]:
mixed_list = ["Tanmay","A",58,True]
print(mixed_list)

['Tanmay', 'A', 58, True]

In [48]:
### Accessing list items

fruits=["Apple","Cherry","Guava","Mango"]

In [49]:
print(fruits[0])
print(fruits[2])
print(fruits[-1])

Apple
Guava
Mango

In [50]:
print(fruits[1:])
print(fruits[1:3])

['Cherry', 'Guava', 'Mango']
['Cherry', 'Guava']

In [51]:
fruits[0] = "Banana"

In [52]:
print(fruits)

['Banana', 'Cherry', 'Guava', 'Mango']

In [53]:
fruits[1:] = "Watermelon"
print(fruits)

['Banana', 'W', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [54]:
fruits=["Apple","Cherry","Guava","Mango"]
print(fruits)

['Apple', 'Cherry', 'Guava', 'Mango']

In [55]:
## List Methods
fruits.append("Strawberry")

In [56]:
print(fruits)

['Apple', 'Cherry', 'Guava', 'Mango', 'Strawberry']

In [57]:
fruits.insert(3,"Kiwi")
print(fruits)

['Apple', 'Cherry', 'Guava', 'Kiwi', 'Mango', 'Strawberry']

In [58]:
popped_fruit = fruits.pop()
print(popped_fruit)
print(fruits)

Strawberry
['Apple', 'Cherry', 'Guava', 'Kiwi', 'Mango']

In [61]:
index = fruits.index("Cherry")
print(fruits)

['Apple', 'Cherry', 'Guava', 'Kiwi', 'Mango']

In [63]:
fruits.sort()
print(fruits)

['Apple', 'Cherry', 'Guava', 'Kiwi', 'Mango']

In [65]:
fruits.reverse()
print(fruits)

['Apple', 'Cherry', 'Guava', 'Kiwi', 'Mango']

In [66]:
fruits.clear()
print(fruits)

[]

In [67]:
###Sclicing List
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [68]:
### Iterating over List

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [70]:
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [71]:
### List Compreheshion
lst = []
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [72]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [74]:
###Basic Syntax
# [expression for item in iterable]

square = [num**2 for num in range (10)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [76]:
##With Logic
# [expression for item in iterables if condition]

even = [i for i in range(10) if i%2 == 0]
even

[0, 2, 4, 6, 8]

In [77]:
#Nested List Comprehension

lst1 = [1,2,3,4]
lst2 = ["a",'b','c','d']

pair = [[i,j] for i in lst1 for j in lst2]
pair

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd']]

In [79]:
words = ["Tanmay","word","Sanchit","Kyu Be"]
length = [len(word) for word in words]
length

[6, 4, 7, 6]